<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ITALIAN_FOOD.Properties.Settings.loginConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\login.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>